html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.6px;
  color: hsl(173, 57%, 12%);
}

h2 {
  line-height: 56px;
}

h2 {
  margin-bottom: 100px;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  text-align: center;
  color: #01353e;
}

h3,
h4 {
  font-family: Roboto Condensed;
  font-weight: normal;
}

h3 {
  font-size: 36px;
  line-height: 40px;
  color: #01353e;
}

h4 {
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  max-height: 100vh;
}

.logo__img {
  left: 0;
  margin-top: 35px;
}

.header__top-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.header__content-inner {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  left: 0;
  right: 0;
  text-align: center;
}

.menu__list-item + .menu__list-item {
  margin-left: 45px;
}

.menu__list-link {
  text-decoration: none;
  font-family: Roboto Condensed;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #ffffff;
}

.header__title {
  margin-top: 100px;
  font-weight: bold;
  font-size: 200px;
  line-height: 235px;
  text-align: center;
}

.header__text {
  font-family: Roboto Condensed;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #000000;
  text-align: center;
}

.main__titles {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}

.body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
}

.header {
  min-height: 100vh;
  background-image: url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.about {
  /*   min-height: 100vh; 
убрали минимальную высоту всего экрана, иначе на больших мониторах половина сайта будет покрыта белом пустым полотном без контента */
  padding: 200px 0 200px;
}

.about__inner {
}

.about__title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  color: #01353e;
}

.about__text {
  margin-top: 100px;
}

p,
.get__bottom-text,
.get__bottom {
  font-family: Roboto Condensed;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

.about__text-column {
  -webkit-column-max-width: 480px;
  -moz-column-width: 480px;
  column-width: 480px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 115px;
  -moz-column-gap: 115px;
  column-gap: 115px;
}

p:nth-child(1),
p:nth-child(3),
p:nth-child(5),
p:nth-child(13) {
  margin-bottom: 30px;
}

p:nth-child(9) {
  margin-bottom: 48px;
}

p:nth-child(11) {
  margin-bottom: 79px;
}

.get {
  background: #f8f8f8;
  /*   height: 953px; */
  left: 0px;
  top: 2047px;
  padding: 100px 0 100px;
  /*   min-height: 100vh;  убрали минимальную высоту всего экрана, иначе на больших мониторах половина сайта будет покрыта белом пустым полотном без контента */
}

.get__inner {
  display: flex;
  justify-content: space-between;
}
.get__item {
  margin-bottom: 105px;
}

.get__title {
  margin-bottom: 100px;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  text-align: center;
  color: #01353e;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.get__subtitle {
  width: 146px;
  text-align: center;
  align-items: center;
  line-height: 28px;
}

div:nth-child(1) {
  margin-bottom: 20px;
}

.get__text {
  max-width: 350px;
}

.get__bottom-inner {
  display: flex;
  justify-content: space-between;
}

.get__bottom-info {
  width: 300px;
  flex: none;
}

.get__bottom-text {
  max-width: 600px;
}

.get__bottom-item {
  position: relative;
  margin-bottom: 10px;
}

.get__bottom-info > div:nth-child(1) {
  margin: 0;
  margin-bottom: 10px;
}

.get__bottom-item span {
  position: absolute;
}

.peak {
  padding: 170px 100px;
  min-height: 100vh;
  background-image: url(../images/peak-image.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
}

.peak__title {
  text-align: right;
  font-weight: 600;
  font-size: 48px;
  color: #01353e;
  text-transform: uppercase;
}

.peak__inner {
  max-width: 507px;
  margin-left: auto;
}

.galery {
  min-height: 100vh;
  /*  padding: 0 0 200px; */
  padding: 220px 0px 200px;
}

.galery__filter-btn {
  display: flex;
  justify-content: left;
  margin-top: 210px;
}

.galery__btn {
  height: 23px;
  font-family: Roboto Condensed;
  font-size: 24px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.6px;
  color: #242121;
  margin-left: 20px;
}

.galery__btn:hover {
  color: #00b2a0;
}

.galery__content {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.galery__content-inner {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  margin-bottom: 0;
}

.galery__content-left {
  margin-bottom: 50px;
  column-gap: 40px;
  display: flex;
  flex-direction: column;
}

.galery__content-right {
  margin-bottom: 50px;
  column-gap: 40px;
  display: flex;
  flex-direction: column;
}

.galery__content-btn {
  width: 350px;
  height: 70px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 200px;
}

.galery__more {
  text-decoration: none;
  height: 23px;
  font-family: Roboto Condensed;
  font-size: 24px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.6px;
  color: #242121;
}

.galery__more:hover {
  color: #00b2a0;
}

.galery__add {
  background: #f8f8f8;
  height: 200px;
  /* font-family: Roboto Condensed;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*   letter-spacing: 0.6px;
  color: #242121; */
}

.galery-author__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 36px;
}

.author-quote {
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.6px;
  color: #242121;
}

.galery__author {
  width: 273px;
  height: 18px;
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  display: block;
  right: 165px;
}

.galery__video {
  padding: 200px 0 200px;
}
